src/conf/xml-resources/web-service-references/WebOperation/wsdl/localhost_8083/ServidorWebSoap/WebOperation.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webs/" name="WebOperation">
<types>
<xsd:schema>
<xsd:import namespace="http://webs/" schemaLocation="http://localhost:8083/ServidorWebSoap/WebOperation?xsd=1"/>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="procesoPago">
<part name="parameters" element="tns:procesoPago"/>
</message>
<message name="procesoPagoResponse">
<part name="parameters" element="tns:procesoPagoResponse"/>
</message>
<message name="obtencionDatos">
<part name="parameters" element="tns:obtencionDatos"/>
</message>
<message name="obtencionDatosResponse">
<part name="parameters" element="tns:obtencionDatosResponse"/>
</message>
<message name="procesoDeposito">
<part name="parameters" element="tns:procesoDeposito"/>
</message>
<message name="procesoDepositoResponse">
<part name="parameters" element="tns:procesoDepositoResponse"/>
</message>
<message name="Registrar">
<part name="parameters" element="tns:Registrar"/>
</message>
<message name="RegistrarResponse">
<part name="parameters" element="tns:RegistrarResponse"/>
</message>
<portType name="WebOperation">
<operation name="Login">
<input wsam:Action="http://webs/WebOperation/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://webs/WebOperation/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="procesoPago">
<input wsam:Action="http://webs/WebOperation/procesoPagoRequest" message="tns:procesoPago"/>
<output wsam:Action="http://webs/WebOperation/procesoPagoResponse" message="tns:procesoPagoResponse"/>
</operation>
<operation name="obtencionDatos">
<input wsam:Action="http://webs/WebOperation/obtencionDatosRequest" message="tns:obtencionDatos"/>
<output wsam:Action="http://webs/WebOperation/obtencionDatosResponse" message="tns:obtencionDatosResponse"/>
</operation>
<operation name="procesoDeposito">
<input wsam:Action="http://webs/WebOperation/procesoDepositoRequest" message="tns:procesoDeposito"/>
<output wsam:Action="http://webs/WebOperation/procesoDepositoResponse" message="tns:procesoDepositoResponse"/>
</operation>
<operation name="Registrar">
<input wsam:Action="http://webs/WebOperation/RegistrarRequest" message="tns:Registrar"/>
<output wsam:Action="http://webs/WebOperation/RegistrarResponse" message="tns:RegistrarResponse"/>
</operation>
</portType>
<binding name="WebOperationPortBinding" type="tns:WebOperation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="procesoPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtencionDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="procesoDeposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebOperation">
<port name="WebOperationPort" binding="tns:WebOperationPortBinding">
<soap:address location="http://localhost:8083/ServidorWebSoap/WebOperation"/>
</port>
</service>
</definitions>